@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example CSS */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0; /* Chrome, Safari, and Opera */
}



@import './styles/fonts.css';


body {
  font-family: 'Inter', sans-serif;
}
